// TODO: Remove this import
@import url("https://fonts.googleapis.com/css?family=Work+Sans:200,300,400,500")

// Fonts
$font-family-body = "Work Sans", monospace
$font-size = 14px
$line-height = 1.725
$page-width = 48rem

// Highlight
$highlight-style = hexo-config("highlight.style") || "hybrid"
