pre
  overflow-x: auto
  padding: 10px 15px
  padding-bottom: 0
  border: 1px dotted gray
  font-size: 1rem
  line-height: 22px
  border-radius: 4px
  -webkit-border-radius: 4px

  code
    display: block
    padding: 0
    border: none

code
  padding: 0.1em 0.25em
  background: rgba(0, 0, 0, 0.15)
  border-radius: 2px
  -webkit-border-radius: 2px

.highlight
  overflow-x: auto
  margin: 1rem 0
  padding: 10px 15px
  border-radius: 4px
  -webkit-border-radius: 4px

  pre
    margin: 0
    padding: 0
    border: none
    background: none

  table
    width: auto

  .line
    height: 22px
