#header
  margin: 0 auto 2rem
  width: 100%
  padding: 20px 0

  #title
    text-align: center

    a
      text-decoration: none
      padding: 10px

  #nav
    display: flex
    align-items: center
    justify-content: center
    color: $color-accent
    letter-spacing: .01em
    font-size: .1rem

    ul
      margin: 0
      padding: 0
      list-style-type: none
      line-height: 15px

      li
        position: relative
        display: inline
        margin: 0 15px
        font-size: 1.6rem
        text-align: center
        border-color: $color-accent
        vertical-align: middle

        a
          color: $color-accent
          text-decoration: none

          &:hover
            text-decoration: underline
