article
  padding-bottom: 4rem

  .post_title
    margin-bottom: 0.1em
    color: #000000
    font-weight: bold
    font-size: 3rem
    line-height: 1.25

  .post_meta
    font-size: 1.1em

    .article-tag,
    p
      display: inline

      &:before
        content: "|"
        margin: 0.2em

  .content
    font-size: 1.2em

    p
      margin-top: 10px
      margin-bottom: 10px

    h2
      font-size: 2rem
      font-weight: bold
      margin-top: 30px
      margin-bottom: 10px

    img
      display: block
      margin: auto
      max-width: 100%
      height: auto

    blockquote
      margin: 1rem 10px
      padding: .5em 10px
      font-weight: bold
      border-left: 4px solid #7d8a97

      p
        margin: 0
